/* début header */
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .header__logo_img {
    width: 160px;
    height: 55px;

    .retour {
      text-decoration: none;
      color: inherit;
    }
  }
}
/* fin du header */