/* début bloc-desktop-menu */
.bloc-desktop-menu {

    @media screen and (min-width: 769px) {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }    
}
/* fin bloc-desktop-menu */