/* couleur */
$primary: #9356DC;
$second: #FF79DA;
$tertiaire: #99E2D0;
$localisation: #f6f6f6;

/* composents */
$btn: radial-gradient(ellipse farthest-corner at 20px 0, #FF79DA 0%, #9356DC 100%);
$color-heart: linear-gradient(63deg, $second 0%, $primary 100%);
